* {
	background: #151820;
	color: white;
	font-family: tahoma;
}
html,
body {
	height: 100vh;
	padding: 0;
	margin: 0;
	overflow: hidden;
}
body {
	display: flex;
	position: relative;
	align-items: center;
}
body>div#debug {
		position: absolute;
		bottom: 10px;
		left: 10px;
}
main#log {
	align-self: center;
	vertical-align: middle;
	margin: auto;
	display: flex;
	align-items: center;
	width: fit-content;
	padding: 25px;
	border: 2px solid whitesmoke;
	border-radius: 8px;}

main#log>form {
		display: flex;
		align-items: center;
		flex-direction: column;
}

main#log>form>input {
	border: 1px solid whitesmoke;
	padding: 5px;
	border-radius: 8px;
	margin: 10px auto;
}
main#log>form>input:hover{
	background: #353840aa;
	cursor: pointer;
}
main#log>form>input:active {
	background: #353840aa;
	cursor: pointer;
}
main#log>form>p {	
	margin: auto;
	text-align: center;
}

p>a {
	padding: 0;
	margin: 0;
	font-size: 16px;
	text-decoration: underline;
}
p>a:hover {
	cursor: pointer;
}